* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

body {
  background-color: rgb(12, 12, 12);

  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 20px auto 0;
  padding: 0 24px;
}

/* perfil */
.profile {
  padding: 24px;
  text-align: center;
}

.profile img {
  border-radius: 50%;
  border: 4px transparent solid;
  outline: 3px gray solid;

  margin-bottom: 10px;

  width: 213px;
}

.profile h3 {
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 5px;
}

#profile p {
  font-size: 16px;
  font-weight: 600;

  color: rgba(255, 255, 255, 0.7);
}

/* links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 15px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  height: 70px;
  padding: 16px 70px 16px 100px;

  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;

  transition: background 0.2s;
}

/* transition */
ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

ul li img {
  position: fixed;
  left: 10px;
}

/* social-links*/
.social-links {
  display: flex;
  justify-content: center;
  padding: 10px 0;

  font-size: 24px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;

  color: var(--text-color);

  transition: background 0.2s;
  border-radius: 50%;
}

.social-links a:hover {
  background: var(--highlight-color);
}

@media (max-width: 485px) {
  .profile img {
    width: 160px;
  }
  .profile h3 {
    font-size: 16px;
  }
  .profile p {
    font-size: 14px;
  }

  ul li a {
    font-size: 13px;
    padding: 16px 30px 16px 75px;
    line-height: 15px;
  }
}

@media (max-width: 309px) {
  ul li a img {
    display: none;
  }

  ul li a {
    font-size: 13px;
    padding: 16px 30px;
  }
}
